### Task 1.0
Establish a connection between Python and the Sakila database.

In [1]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine
import getpass  # To get the password without showing the input
from sqlalchemy import text
password = getpass.getpass()

 ········

In [2]:
if "@" in password:
    password = password.replace("@", "%40")

In [3]:
sd = "sakila"
connection_string = 'mysql+pymysql://root:' + password + '@localhost/'+sd
engine = create_engine(connection_string)
engine

Engine(mysql+pymysql://root:***@localhost/sakila)

### Task 2.0
Write a Python function called rentals_month that retrieves rental data for a given month and year (passed as parameters) from the Sakila database as a Pandas DataFrame. The function should take in three parameters:

engine: an object representing the database connection engine to be used to establish a connection to the Sakila database.
month: an integer representing the month for which rental data is to be retrieved.
year: an integer representing the year for which rental data is to be retrieved.
The function should execute a SQL query to retrieve the rental data for the specified month and year from the rental table in the Sakila database, and return it as a pandas DataFrame.

In [5]:
def rentals_month(month, year):
    with engine.connect() as connection:
        txt = f'''
        SELECT *
        FROM rental
        ;'''
        query = text(txt)
        result = connection.execute(query)
        return pd.DataFrame(result.all())

In [6]:
rentals_month(2,3)

NameError: name 'text' is not defined

In [ ]:
# Getting how many loans were granted every year, and the month of each duration.
def actor_movies(connection, actor_name):
    with engine.connect() as connection:
        # Getting how many loans were granted every year, and the month of each duration.
        txt = f'''
        SELECT first_name, last_name, title 
        FROM actor 
        INNER JOIN film_actor 
        USING (actor_id) 
        INNER JOIN film 
        USING (film_id) 
        HAVING first_name = "{actor_name}";'''
        query = text(txt)
        result = connection.execute(query)
        return pd.DataFrame(result.all())